/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
/* line 30, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 34, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* line 40, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 43, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 46, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 55, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 61, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 64, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
img {
  display: block;
}

/* line 68, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_reset.scss */
form * {
  -webkit-appearance: none;
  margin: 0;
  display: block;
  outline: none;
  border: none;
}

/* line 2, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
html {
  font-size: 1em;
}

/* line 4, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
body {
  background-color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: rgba(255, 255, 255, 0.7);
}

/* line 12, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
p {
  margin-bottom: 1.3em;
}

/* line 14, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: "Overpass", sans-serif;
}

/* line 21, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
h1 {
  margin-top: 0;
  font-size: 3.998em;
}

/* line 26, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
h2 {
  font-size: 2.827em;
}

/* line 28, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
h3 {
  font-size: 1.999em;
}

/* line 30, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
h4 {
  font-size: 1.414em;
}

/* line 32, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
small, .font_small {
  font-size: 0.707em;
}

/* line 34, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
.navigation {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
}

@media (max-width: 600px) {
  /* line 34, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
  .navigation {
    font-size: 1em;
  }
}

/* line 44, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

/* line 49, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
strong {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}

/* line 53, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
.text-large {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 600px) {
  /* line 53, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_typography.scss */
  .text-large {
    font-size: 1.1em;
  }
}

/* line 1, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
body {
  background-color: #1a1919;
  background-image: url(../img/site-bg-desktop.jpg);
  background-size: cover;
  background-position: 50% 0;
}

/* line 7, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.page-container {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 13, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.content-wrapper {
  max-width: 720px;
  margin: auto;
  flex: 1;
}

@media (max-width: 600px) {
  /* line 13, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
  .content-wrapper {
    max-width: 100vw;
  }
}

/* line 22, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.content-section {
  margin: 0 1em 2em;
}

/* line 25, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.hero {
  display: flex;
  width: 980px;
  -webkit-transform: translateX(-130px);
          transform: translateX(-130px);
  justify-content: space-between;
}

@media (max-width: 600px) {
  /* line 25, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
  .hero {
    flex-wrap: wrap;
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* line 37, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.hero img {
  width: 100%;
}

/* line 40, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.hero .half {
  width: 48%;
}

@media (max-width: 600px) {
  /* line 40, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
  .hero .half {
    width: 100%;
  }
}

/* line 48, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.roundel {
  width: 180px;
  height: 180px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.9;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  position: absolute;
  bottom: 1em;
  right: 1em;
}

/* line 62, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.roundel:before {
  display: block;
  content: "";
  background-color: #c00;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 73, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.roundel span {
  display: block;
  position: relative;
  text-transform: uppercase;
}

/* line 78, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.roundel span:nth-child(1) {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 1.25em;
}

/* line 82, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.roundel span:nth-child(2) {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 2em;
  margin-bottom: 0.25em;
}

/* line 87, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.roundel span:nth-child(3) {
  font-family: 'Special Elite', cursive;
  font-size: 1.3em;
}

/* line 91, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_global.scss */
.roundel span:nth-child(4) {
  font-family: 'Special Elite', cursive;
}

/* line 1, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_header.scss */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 2em;
}

@media (max-width: 600px) {
  /* line 1, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_header.scss */
  .header {
    flex-direction: column;
  }
}

/* line 15, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_header.scss */
.header img {
  display: block;
  width: 100%;
  max-width: 295px;
}

@media (max-width: 600px) {
  /* line 15, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_header.scss */
  .header img {
    margin: auto;
  }
}

/* line 25, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_header.scss */
.site-branding {
  margin: 0;
  padding: 0;
  width: 295px;
}

@media (max-width: 600px) {
  /* line 25, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_header.scss */
  .site-branding {
    width: 100%;
  }
}

/* line 1, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_navigation.scss */
.navigation-container {
  width: calc(100% - 350px);
}

@media (max-width: 600px) {
  /* line 1, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_navigation.scss */
  .navigation-container {
    width: 100%;
    order: 0;
  }
}

/* line 10, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_navigation.scss */
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 600px) {
  /* line 10, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_navigation.scss */
  .navigation {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* line 21, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_navigation.scss */
.navigation--item {
  margin-left: 3em;
}

@media (max-width: 600px) {
  /* line 21, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_navigation.scss */
  .navigation--item {
    margin: 0 0.125em;
  }
}

/* line 1, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
footer {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

/* line 6, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* line 15, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-list--item {
  width: 2.7em;
  height: 2.7em;
  overflow: hidden;
  text-indent: -9999px;
  margin: 0.5em;
}

/* line 23, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-list--social a {
  display: block;
}

/* line 27, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 32px;
}

/* line 37, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-link--instagram {
  background-image: url(../img/social-instagram.svg);
}

/* line 40, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-link--instagram:hover {
  background-color: #e1306c;
}

/* line 44, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-link--facebook {
  background-image: url(../img/social-facebook.svg);
}

/* line 47, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-link--facebook:hover {
  background-color: #3b5998;
}

/* line 51, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-link--twitter {
  background-image: url(../img/social-twitter.svg);
}

/* line 54, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.footer-link--twitter:hover {
  background-color: #55acee;
}

/* line 58, Users/achoukah/Dropbox/00 - CURRENT/Cyp Cyprus/anwar/html/scss/partials/_footer.scss */
.copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
/*# sourceMappingURL=style.css.map */