@charset 'utf-8';

@import "partials/reset";
@import "partials/variables";

@import "partials/typography";
@import "partials/forms";

@import "partials/global";
@import "partials/header";
@import "partials/navigation";
@import "partials/footer";