footer {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-content: center;

  &.social {

  }
}
.footer-list--item {
  width: 2.7em;
  height: 2.7em;
  overflow: hidden;
  text-indent: -9999px;
  margin: 0.5em;
}
.footer-list--social {
  a {
    display: block;
  }
}
.footer-link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: $wh-tr-3;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 32px;
}
.footer-link--instagram {
  background-image: url(../img/social-instagram.svg);

  &:hover {
    background-color: $ig;
  }
}
.footer-link--facebook {
  background-image: url(../img/social-facebook.svg);

  &:hover {
    background-color: $fb;
  }
}
.footer-link--twitter {
  background-image: url(../img/social-twitter.svg);

  &:hover {
    background-color: $tw;
  }
}
.copyright {
  margin: 2em 0;
  text-align: center;
  color: $wh-tr-3
}