.hero-gallery {
  width: 980px;
  transform: translateX(-130px);

  @include mq-s {
    flex-wrap: wrap;
    width: 100%;
    transform: translateX(0);
  }
  @include mq-m {
    // border: medium dotted red;
    width: 100%;
    transform: translateX(0);
    // transform: translateX(calc(980px / 1 - 100vw ));
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    width: 33%;
  }
  img {
    padding: 0.5em;
    max-width: 100%;
    // height: auto;
    @include mq-s {
      width: 100%;
      height: auto;
    }
  }
}