body {
  background-color: $bk-dk;
  background-image: url(../img/site-bg-desktop.jpg);
  background-size: cover;
  background-position: 50% 0;
}
.page-container {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content-wrapper {
  width: 720px;
  margin: auto;
  flex: 1;

  @include mq-s {
    width: 100vw;
  }
}
.content-section {
  margin: 0 1em 2em;
}
.hero {
  display: flex;
  width: 980px;
  transform: translateX(-130px);
  justify-content: space-between;

  @include mq-s {
    flex-wrap: wrap;
    width: 100%;
    transform: translateX(0);
  }
  @include mq-m {
    // border: medium dotted red;
    width: 100%;
    transform: translateX(0);
    // transform: translateX(calc(980px / 1 - 100vw ));
  }

  img {
    width: 100%;
  }
  .full {
    width: 100%;
    margin: 0 60px;
  }
  .half {
    width: 48%;

    @include mq-s {
      width: 100%;
    }
  }
  .left {

  }
  .right {
    @include mq-s {
      display: none;
    }
  }
  iframe {
    width: 980px;
    min-height: 551px;
  }
}
.roundel {
  width: 180px;
  height: 180px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.9;
  transform: rotate(3deg);
  position: absolute;
  bottom: 1em;
  right: 1em;

  @include mq-s {
    width: 120px;
    height: 120px;
    bottom: -1em;
  }

  &:before {
    display: block;
    content: "";
    background-color: $rd-md;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  span {
    display: block;
    position: relative;
    text-transform: uppercase;

    &:nth-child(1) {
      font-family: 'Abril Fatface', sans-serif;
      font-size: 1.25em;

      @include mq-s {
        font-size: 1em;
      }
    }
    &:nth-child(2) {
      font-family: 'Abril Fatface', sans-serif;
      font-size: 2em;
      margin-bottom: 0.25em;

      @include mq-s {
        font-size: 1.4em;
      }
    }
    &:nth-child(3) {
      font-family: 'Special Elite', cursive;
      font-size: 1.3em;

      @include mq-s {
        font-size: 1em;
      }
    }
    &:nth-child(4) {
      font-family: 'Special Elite', cursive;
    }
  }
}