.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 1em 2em;

  @include mq-s {
    flex-direction: column;
  }
  @include mq-m {

  }

  a {

  }
  img {
    display: block;
    width: 100%;
    max-width: 295px;

    @include mq-s {
      margin: auto;
    }
  }
}
.site-branding {
  margin: 0;
  padding: 0;
  width: 295px;

  @include mq-s {
    width: 100%;
  }
  @include mq-m {
    width: 260px;
  }
}
