a {
  transition: all 0.2s ease-in-out;
}
.navigation {

}
.navigation--item {
  a {
    border-bottom: 2px solid transparent;
    padding: 0.25em 0.25em 1em 0.25em;

    &:hover {
      border-bottom: 2px solid $wh-tr-5;
      padding: 0.25em 0.25em 0 0.25em;
    }
  }
}

