.navigation-container {
  width: calc(100% - 350px);

  @include mq-s {
    width: 100%;
    order: 0;
  }
  @include mq-m {
    width: calc(100% - 260px);
    // margin-top: -1em;
    margin-left: auto;
    // border: medium dotted red;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: top;

  @include mq-s {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include mq-m {

  }
}

.navigation--item {
  margin-left: 2em;


  @include mq-s {
    margin: 0 0.125em;
  }
  @include mq-m {
    margin: 0 1em;
  }

  a {
    padding: 0.25em;
  }
}
.navigation--item {

  a {
    border-bottom: 2px solid transparent;
    padding: 0.25em 0.25em 1em 0.25em;
    display: block;

    &:hover {
      border-bottom: 2px solid $wh-tr-5;
      padding: 0.25em 0.25em 0 0.25em;
    }
  }
}
.navigation--item__highlighted {


  a {
    border-bottom: 2px solid $wh-lt;
    padding: 0.25em 0.25em 0 0.25em;
  }
}