.navigation-container {
  width: calc(100% - 350px);

  @include mq-s {
    width: 100%;
    order: 0;
  }
  @include mq-m {
    width: calc(100% - 260px);
    // margin-top: -1em;
    margin-left: auto;
    // border: medium dotted red;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include mq-s {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include mq-m {

  }
}

.navigation--item {
  margin-left: 3em;

  @include mq-s {
    margin: 0 0.125em;
  }
  @include mq-m {
    margin: 0 1em;
  }
}