.navigation-container {
  width: calc(100% - 350px);

  @include mq-s {
    width: 100%;
    order: 0;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include mq-s {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.navigation--item {
  margin-left: 3em;

  @include mq-s {
    margin: 0 0.125em;
  }
}